.gradle
/.idea/
/.jps/
/local.properties
/.DS_Store
*.iml
.idea/workspace.xml
.idea/libraries
.idea/modules.xml
.idea/deploymentTargetDropDown.xml
.idea/assetWizardSettings.xml
.idea/renderBundle.xml
captures/
.externalNativeBuild
.cxx
*.ap_
*.dex
*.class
bin/
gen/
out/
